.button {
  background-color: var(--third-color);
  transition: var(--transition);
  border: none;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.8rem 0;
  width: 14rem;
  border-radius: var(--border-radius);
  color: var(--fourth-color);
  margin-top: 1rem;
}

.button:hover {
  background-color: var(--fourth-color);
  color: var(--third-color);
}

@media (max-width: 768px) {
  .button:hover {
    background-color: initial;
    color: initial;
  }
}
