.button-scroll {
  color: var(--third-color);
  position: fixed;
  bottom: 10vh;
  right: 10vh;
  width: 1.2rem;
  height: 1.2rem;
  padding: 1rem;
  border-radius: 50%;
  z-index: 10000;
  background-color: var(--fourth-color);
  cursor: pointer;
}

@media (max-width: 768px) {
  .button-scroll {
    bottom: 5vh;
    right: 5vh;
  }
}

@media (max-width: 640px) {
  .button-scroll {
    bottom: 2vh;
    right: 2vh;
  }
}
