.paragraph {
  color: #4b4b4b;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.paragraph span {
  font-weight: 800;
}

.section-layout {
  background-color: var(--third-color);
  padding-top: 8rem;
}

.section-layout h1 {
  color: var(--primary-color);
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.bloc-search-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.bloc-search-pagination div:first-child {
  width: 50%;
}
