.part-favorite {
  width: 100%;
  margin-bottom: 4rem;
}

.part-favorite h2 {
  font-size: 1.8rem;
  margin: 2rem 0 1rem 0;
}

.list-favorites {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.counter {
  color: var(--fourth-color);
  margin-left: 1rem;
}

@media (max-width: 640px) {
  .list-favorites {
    flex-direction: column;
    gap: 3rem;
  }
}
