.searchbar input {
  width: 100%;
  font-size: 1.1rem;
  border: none;
  padding: 0.8rem 1.5rem;
  outline: none;
  background-color: var(--primary-color);
  color: var(--third-color);
  border-radius: var(--border-radius);
}

.searchbar input::placeholder {
  color: rgb(136, 136, 136);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1rem;
}
