.searchbar input {
  width: 100%;
  font-size: 1.1rem;
  border: none;
  padding: 0.5rem 1rem;
  outline: none;
  background-color: rgb(237, 237, 237);
  color: var(--primary-color);
  border-radius: var(--border-radius);
  margin: 1rem 0;
}

.searchbar input::placeholder {
  color: rgb(136, 136, 136);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

.searchbar input::-webkit-search-clear-button,
input[type="search"]::-webkit-search-cancel-button {
  cursor: pointer;
}

@media (max-width: 640px) {
  .searchbar input {
    width: 100%;
    font-size: 1.1rem;
    border: none;
    outline: none;
    color: var(--third-color);
    border-radius: var(--border-radius);
  }
}
