header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding: 1rem;
  top: 0;
  width: 100%;
  backdrop-filter: blur(10rem);
  background-color: var(--primary-color);
  z-index: 1000;
  /* background-color: transparent; */
}

header img {
  width: 7rem;
}

@media (max-width: 768px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 1rem 2rem;
  }

  header img {
    width: 5rem;
  }
}
