.bloc {
  padding-top: 4rem;
  height: 35rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.mainHomepage {
  background-color: var(--third-color);
}
.title-bloc {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-bloc h2 span {
  color: var(--fourth-color);
  font-weight: 800;
  font-size: 4rem;
}

.mainHomepage h2 {
  color: var(--primary-color);
}

.mainHomepage h2 {
  font-size: 2.5rem;
}

.mainHomepage h2 {
  margin-bottom: 0;
}

.view-all {
  padding: 0.7rem;
  border: 2px solid var(--fourth-color);
  border-radius: var(--border-radius);
  color: var(--fourth-color);
  font-weight: 500;
}

.list-characters {
  display: flex;
  align-items: start;
  overflow-x: scroll;
  flex-shrink: 0;
  gap: 0.1rem;
  padding: 1rem 2rem;
  font-weight: 700;
  position: relative;
}

.card {
  width: fit-content;
  height: fit-content;
  border-radius: var(--border-radius);
  padding: 0.5rem;
  background-color: var(--third-color);
  line-height: 1.3rem;
  transition: var(--transition);
  position: relative;
  top: 0;
}

.card img {
  object-fit: cover;
  border-radius: var(--border-radius);
  width: 200px;
  height: 200px;
  /* margin-bottom: 0.7rem; */
}

.card div:nth-child(1) {
  display: flex;
  gap: 1rem;
}

.card p {
  display: none;
  padding: 0.4rem 0;
  font-size: 1.2rem;
}

.card p:last-child {
  font-size: 0.9rem;
  font-weight: 200;
}

.card:hover p {
  display: inherit;
}

.view-all:hover {
  background-color: var(--fourth-color);
  color: var(--third-color);
}

.card:hover {
  box-shadow: 11px 13px 0px black;
  transition: var(--transition);
  transform: scale(1);
  z-index: 999;
  background-color: var(--fourth-color);
  top: -1rem;
  min-width: 30rem;
}

.card:hover a {
  color: var(--third-color);
}

/* SAUVEGARDE */
/* .list-characters {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-weight: 700;
}

.card {
  width: 168px;
  height: fit-content;
  border-radius: var(--border-radius);
  padding: 0.5rem;
  background-color: var(--third-color);
  line-height: 1.3rem;
}

.card img {
  object-fit: cover;
  border-radius: var(--border-radius);
  width: 100%;
  height: 252px;
  margin-bottom: 0.7rem;
}

.card p:last-child {
  display: none;
  font-size: 1rem;
  font-weight: 200;
}

.card:hover {
  box-shadow: 8px 7px 0px black;
  transition: var(--transition);
  transform: scale(1.1);
  z-index: 999;
  background-color: var(--fourth-color);
}

.card:hover a {
  color: var(--third-color);
} */
