.comic-details {
  background-color: var(--primary-color);
  padding-top: 10rem;
  position: relative;
}

.background-comic {
  height: 45vh;
  background-color: var(--third-color);
  position: absolute;
  width: 100%;
  top: 0;
}

.bloc {
  background-color: var(--primary-color);
  padding: 2rem;
  color: var(--third-color);
  border-radius: var(--border-radius);
  padding-bottom: 2rem;
  position: relative;
  margin-bottom: 4rem;
}

.details {
  display: flex;
  gap: 2rem;
  z-index: 1;
}

.image-comic {
  width: 23rem;
  height: 24rem;
  border-radius: var(--border-radius);
  object-fit: cover;
}

.details-title {
  display: flex;
  justify-content: space-between;
}

.details-title svg {
  font-size: 1.5rem;
  color: rgb(255, 234, 4);
}

.details-comic h1 {
  font-size: 2.8rem;
  margin-bottom: 2rem;
}

.details-comic p {
  font-size: 1.1rem;
  line-height: 1.7rem;
  font-weight: 300;
}

.details aside {
  display: flex;
  flex-direction: column;
  width: 100%;
}
