:root {
  /* VARIABLES */
  --primary-color: #000000;
  --secondary-color: #131313;
  --third-color: #ffffff;
  --fourth-color: #f0141e;
  --border-radius: 5px;
  --transition: 0.5s ease-in-out;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::selection {
  color: var(--third-color);
  background-color: var(--fourth-color);
}

body {
  background-color: var(--primary-color);
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  /* font-family: "Rozha One", serif; */
}

/* Title */
h1,
h2 {
  font-family: "Rozha One", serif;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

a {
  color: #fff;
  text-decoration: none;
  transition: var(--transition);
}

button {
  cursor: pointer;
}

main {
  min-height: 100vh;
}

.container {
  width: 80%;
  margin: 0 auto;
}
