.banner {
  width: 100%;
  height: 80vh;
  margin-top: 5rem;
  position: relative;
  background-image: url("../../assets/img/banner-homepage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.information {
  font-size: 6rem;
  position: absolute;
  bottom: 20%;
  left: 10vw;
  text-shadow: 2px 2px 2px var(--primary-color);
  border-left: 2px solid var(--fourth-color);
  padding-left: 2rem;
}

.information p {
  font-size: 3rem;
  font-weight: 100;
}

@media (max-width: 1124px) {
  .banner {
    height: 70vh;
  }

  .information {
    font-size: 5rem;
    bottom: 20%;
    left: 5vw;
  }

  .information p {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  .banner {
    height: 64vh;
    margin-top: 3rem;
  }

  .information {
    font-size: 3rem;
    left: 4vw;
  }

  .information p {
    font-size: 2rem;
    font-weight: 300;
  }
}

@media (max-width: 640px) {
  .banner {
    height: 40vh;
    margin-top: 3rem;
  }

  .information {
    font-size: 2.5rem;
    left: 0vw;
    border-left: none;
  }

  .information p {
    font-size: 1.2rem;
    font-weight: 400;
  }
}
